#btnMenu{
    -fx-background-color: #00b300;
    -fx-font-family: "Arial";
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-cursor: hand;
}

#btnPrev{
    -fx-font-family: Arial;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #af2821;
    -fx-border-radius: 10px;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

#defaultText{
    -fx-font-family: "Arial";
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 10px;
    -fx-font-size: 15px;
}

#questionText{
    -fx-font-family: Arial;
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

#stateText{
    -fx-font-family: Arial;
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

#radioButton{
    -fx-font-family: Arial;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 10px;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

#comboBoxButton{
    -fx-background-color: #5F4476;
    -fx-text-fill: #111111;
    -fx-font-size: 12px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-text-align: left;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-max-width: 200px;
    -fx-max-height: 30px;
    -fx-min-width: 200px;
    -fx-min-height: 30px;
    -fx-autosize: false;
}

#subMenuButton{
    -fx-background-color: #5F4476;
    -fx-background-radius: 10px;
    -fx-text-fill: #111111;
    -fx-font-size: 12px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
    -fx-text-align: left;
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-max-width: 200px;
    -fx-max-height: 30px;
    -fx-min-width: 200px;
    -fx-min-height: 30px;
    -fx-autosize: false;
}

#textField{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #111111;
    -fx-font-size: 12px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-text-align: left;
}